= render partial: "message"

= form_for [@group, @message] do |f|
  .right-box
    .group.clearfix
      .group__group-name2
        = @group.name
      = link_to root_path do
        %input{type: "submit", value: "Edit"}
      .group__members-name
        Member :
        %dfn
          - @group.users.each do |user|
            = user.name
    .contents
      - @group.messages.each do |message|
        .contents__content{ "data-message-id": "#{message.id}"}
          %span.contents__content__members-name
            = message.user.name
          %span.contents__content__time1
            = message.updated_at.strftime("%Y年%m月%d日 %H時%M分")
          .contents__content__message
            = message.body
            .contents__content__message__image
            - if message.image.present?
              = image_tag(message.image)
    .user-action__footer.clearfix

      .user-action__footer__box
        = f.text_field :body, placeholder: "type a message", class: "chat-group-form__input"
        .chat-file
          = f.file_field :image, class: "chat-file", style: "display:none;", id: "message_image"
        .image
          = f.label :image, class: "image" do
            .fa.fa-picture-o.user-action__box__image
        = f.submit "Send", class: "btn"
