= render partial: "messages/message"

%div.left-box
  %div.user.clearfix
    %div.user__name
      = current_user.name
    = link_to edit_user_path(current_user.id) do
      %user__i.fa.fa-cog
    = link_to new_group_path do
      %user__i.fa.fa-pencil-square-o
  %div.list
    %div.list__group-name1
      sample
    %div.list__group-messages
      Good bye world.
    %div.list__group-name2
      aaaaaaaaaa
    %div.list__group-messages
      まだメッセージはありません。
    %div.list__group-name2
      sampleグループ
    %div.list__group-messages
      まだメッセージはありません。

%div.right-box
  %div.group.clearfix
    %div.group__group-name2
      /= @group.name
    = link_to root_path do
      %input{type: "submit", value: "Edit"}
    %div.group__members-name
      /= @user
  %div.contents
    %div.contents__content
      %span.contents__content__members-name
      %span.contents__content__time1
      %div.contents__content__message
  %div.user-action
    %div.user-action__box
      %input{type: "text", placeholder: "type a message"}
      %div.fa.fa-picture-o.user-action__box__image
      %input{type: "submit", value: "Send"}
